*{
  margin:0;
  box-sizing:border-box;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}
body{  font-size:15px;
}
header{
  text-align:center;
}
quote{

font-style:italic;
}
header>h1{  
  font-size:50px;
margin-top:90px;
}
ul>li>span{
  font-weight:700;
}
.main>h2,
figure{  text-align:center;
}
main{
background-color:#eee;
margin:140px 20px;
border-radius:10px;

}

.main{  
 
  margin:10px 20px;
  
}
.main ul,
blockquote
{
   max-width:750px;
   margin:0 auto;
}
blockquote{
  font-style:italic;
}
.footer{
  text-align:center;
  font-size:20px;
  margin-top:20px;
}

main  * {
  padding:15px 0;
} 
figure>img,
figure{
  display:block;
  margin:0 auto;
}
figure{
  background-color:#fff;
  width:95%;
}
figure>img,
figure>figcaption{
  width:97%;
  margin:0 auto;
}
#image{  max-width:100%;
height:auto;

}
.footer{
  font-weight:700;
}

